{% extends 'blog/base.html' %}

{% block content %}
<div class='col-sm-10 mt-5'>
        <div class="card mt-5">
        <div class="card-body">
            <h3>About page</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae non 
            tenetur optio nisi, facilis suscipit quis, consectetur ipsa quia iure commodi!
             Saepe, ut hic obcaecati placeat sit quaerat. Id, facere! Lorem ipsum, 
             dolor sit amet consectetur adipisicing elit. Omnis autem quod temporibus repudiandae inventore qui soluta eos beatae porro velit alias nostrum
              asperiores sit aut odit itaque harum, facilis sint.</p>
        </div>

</div>
<button class="btn btn-primary mt-3">Learn more...</button>

</div>



{% endblock content %}