{% extends 'blog/base.html' %}
{% block content %}
        <div class="container">
           <div class="row">
                <div class="col-sm-10">
                     <h1>dashboared/addnew</h1>
                     <form action="" method="post" novalidate>
                     {% csrf_token %}
                     
                         {{form.as_p}}
                         <input type="submit" value="Add Post" class="btn btn-success">
                         <a href="{% url 'dashboared' %}" class="btn btn-danger">cancle</a>
                     </form>
                
                </div>
            </div>

        </div>
{% endblock content %}